.frontpage-video-overlay {
  display: none;
}

.landing-grid {

  .landing-grid__item {
    position: relative;

    @include clearfix();

    a {
      display: block;
      cursor: pointer;
    }

    article,
    .media {
      position: initial;
    }

    img {
      position: relative;
      float: left;
      width: 100%;
    } 

    .grid-item__background {
      z-index: 1;
      backface-visibility: hidden;
      position: relative;
      box-shadow: 0;
      @include clearfix();

      @include bp-normal {
        transform: scale(1); 
        transition: all 200ms;
        transition-delay: 0
      }
    }

    .grid-item__content {
      position: absolute;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      color: white;
      z-index: 11;
      padding: 3rem;

      @include bp-narrow {
        padding: 4rem 5rem;
      }
      @include bp-normal {
        padding: 3rem 4rem;
      }
      @include bp-wide {
        padding: 4rem 5rem;
      }
     
      .bundle {
        color: white;
        text-transform: uppercase;
        text-shadow: 0 0 1.2rem rgba(0,0,0,0.35);

        .icon-play {
          width: 2.25rem;
          height: 2.25rem;
          fill: white;
          float: left;
          margin-right: 0.75rem;
          margin-top: -0.35rem;
        }
      }
      h2 {
        color: white;
        margin: 1rem 0;
        text-shadow: 0 0 1.2rem rgba(0,0,0,0.35);
        font-size: 2rem;

        @include bp-narrow {
          font-size: 3.8rem;
        }
        @include bp-normal {
          font-size: 2.5rem;
        }
        @include bp-wide {
          font-size: 3.8rem;
        }
      }
      .icon-arrow-right {
        margin-top: 1rem;
        width: 3rem;
        height: 3rem;
        fill: white;
      }
    }
  }

  .landing-grid__item:hover {

    .grid-item__background {
       z-index: 10;


      @include bp-normal {
        transform: scale(1.05);
        box-shadow: 0 0 25px rgba(0,0,0, 0.35);
        transition: all 200ms;
        transition-delay: 300ms;
      }
    }
  }

  .bundle-article {

    canvas {
      display: none;
    }
    .field--name-field-article-author {
      line-height: $line-height-base;
      text-shadow: 0 0 1.2rem rgba(0,0,0,0.35);
    }
  }

  .bundle-lexicon-article {
    
    .grid-item__background {
      background: $color-green;
    }  
    canvas {
      width: 100%;
      float: left;
    }
    .field--name-field-lexicon-aliases {
      word-break: break-all;
      line-height: $line-height-base;
      text-shadow: 0 0 1.2rem rgba(0,0,0,0.35);
      display: block;
      @include clearfix();

      .field__item {
        display: inline-block;
      }
      .field__item:after {
        content: ",";
      }
      .field__item:last-child:after {
        content: "";
      }
    }
  }

  .bundle-video {

    .grid-item__background {
      background: $color-orange;
    }
    img {
      opacity: 0.15;
    }
    .field--name-field-video-duration {
      position: absolute;
      bottom: 0;
      right: 0;
      background: $color-blue-darkest;
      padding: .5rem 1rem;
      font-size: 1.4rem;
      color: white;
    }

  }
}