.site-logo {
  display: inline-block;
  
  img {
    height: 3.5rem;
  }
}
.menu-toggle {
  text-align: right;

  @include bp-normal {
    margin-top: 1rem;
  }

  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;

    @include bp-normal {
      line-height: 3.25rem;
    }

    svg {
      fill: $color-red;
      float: right;
      width: 3.5rem;
      height: 3.5rem;

      @include bp-normal {
        margin-left: 0.5rem;
        fill: white;
        width: 3rem;
        height: 3rem;
      }
    }
  }
}