.embedded-entity.bundle-basic {

  h3 {
    color: white;
    margin-bottom: 2rem;
  }
  p, strong, ul, h1, h2, h3, h4, h5, h6 {
    color: white;
  }

  a {
    color: white;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .inner-content {
    padding: 3rem;
  }
  .color-cyan {
    background-color: $color-green;
  }
  .color-orange {
    background-color: $color-orange;
  }
  .color-blue {
    background-color: $color-blue;
  }

  &.align-left {
    @include bp-normal {
      float: left;
      width: calc(50% + 95px);
      margin: .25rem 2rem 1rem -95px;
    }
  }
  &.align-right {
    @include bp-normal {
      float: right;
      width: calc(50% + 95px);
      margin: 0 -95px 1rem 2rem;
    }
  }
}