{% extends "block--default.html.twig" %}
{% block content %}
  <div class="inner-content color-{{ content.field_bg_color[0] }}">
  <h3>{{ content.field_title }}</h3>
  {{ content.body }}
  </div>
{% endblock %}
