.header-container {

  background: $color-blue-darkest;
  position: relative;
  overflow: hidden;

  .region-header {
    display: none;

    @include bp-normal {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 1fr;
      -ms-grid-columns: 1fr 1fr;
      position: absolute;
      width: 100%;
      z-index: 10;
      top: 5rem;
      left: 0;
      right: 0;
      padding: 0 3rem;
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 960px;
      padding: 0;
    }
    @include bp-wide {
      max-width: 1140px;
    }
  }

  .region-hero {
    z-index: 2;
    box-sizing: border-box;
  }
}
