/* Colors */
$color-red: #c33939;
$color-red-dark: #902a2a;
$color-blue: #00a6d8;

$color-blue-darkest: #1a262e;
$color-grey-light: #f1f1f1;
$color-grey: #dbdbdb;

/* Text Colors */
$text-color: #54585d;
$text-color-dark: #19242c;
$link-color: $color-red;
