/* Base */
/* Colors */
/* Text Colors */
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900");
/* Font Sizes */
/* Line Height */
/* Font weights */
/* Base */
html {
  font-size: 62.5%; }

body {
  background-color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  color: #54585d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

hr {
  width: 50%;
  display: block;
  height: 2px;
  border: none;
  background: white;
  margin: 1em 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", sans-serif;
  line-height: 1.15em;
  font-weight: 900;
  margin-bottom: 1rem;
  color: #19242c; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

h1 {
  font-size: 4.5rem;
  font-family: "Rubik", sans-serif;
  line-height: 1em;
  text-transform: uppercase; }

h1.page-title {
  margin-bottom: 2rem;
  margin-top: 0; }

p {
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  line-height: 1.75em; }

p:last-child {
  margin: 0; }

.text h2,
.cke_editable h2 {
  font-size: 2.8rem; }

.text h3,
.cke_editable h3 {
  font-size: 2rem; }

.text h4,
.cke_editable h4 {
  font-size: 1.6rem; }

.text h5,
.cke_editable h5 {
  font-size: 1.5rem; }

.text h6,
.cke_editable h6 {
  font-size: 1.35rem; }

.text p,
.cke_editable p {
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  line-height: 1.75em;
  color: #54585d; }

.text p:last-child,
.cke_editable p:last-child {
  margin: 0; }

.text a,
.cke_editable a {
  color: #c33939;
  text-decoration: none; }

.text a:hover,
.cke_editable a:hover {
  text-decoration: underline; }

.text ul, .text ol,
.cke_editable ul,
.cke_editable ol {
  margin: 0 0 2rem;
  padding: 0 0 0 3rem;
  font-size: 1.6rem;
  line-height: 1.75em;
  color: #54585d; }
  .text ul li, .text ol li,
  .cke_editable ul li,
  .cke_editable ol li {
    list-style-position: outside;
    margin: 0 0 1rem 0; }
  .text ul li:last-child, .text ol li:last-child,
  .cke_editable ul li:last-child,
  .cke_editable ol li:last-child {
    margin: 0; }

.text ul li,
.cke_editable ul li {
  list-style: disc; }

.text ol li,
.cke_editable ol li {
  list-style: decimal; }

/* Forms */
.form-item label {
  display: block;
  margin-bottom: 0.25em; }

.form-item .description {
  margin-top: 0.25em; }

textarea {
  border: 1px solid #ccc;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  padding: 0.75em;
  box-sizing: border-box;
  max-width: 100%;
  appearance: none; }
  textarea:focus {
    outline: none; }

input[type=text],
input[type=password],
input[type=email],
input[type=search] {
  border: 1px solid #ccc;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  padding: 0.75em;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 0;
  appearance: none; }
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=search]:focus {
    outline: none; }

input[type=submit],
input[type=button] {
  background: #00a6d8;
  color: white;
  padding: 0.75em 2em;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  appearance: none; }

::-moz-selection {
  background-color: #c33939;
  color: white; }

::selection {
  background-color: #c33939;
  color: white; }
